body {
    font-family: 'Silkscreen', cursive;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.company-name-color {
    color: rgb(33, 215, 33);
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 80%;
}

.contact-button {
    text-decoration: none;
    background-image: linear-gradient(white, rgb(33, 215, 33));
    padding: 10px 30px;
    /* border: 1px solid white; */
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}