body {
    font-family: 'Silkscreen', cursive;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.company-name-color {
    color: rgb(33, 215, 33);
}

section {
    display: flex;
}

.half-width {
    width: 70%;
    padding: 5%;
}

.half-width2 {
    width: 30%;
    padding-top: 5%;
}

.half-width2 img {
    width: 30%;
    float: right;

}

p {
    margin-bottom: 40px;
}

.contact-button {
    text-decoration: none;
    background-image: linear-gradient(white, rgb(33, 215, 33));
    padding: 10px 30px;
    /* border: 1px solid white; */
    border-radius: 10px;
    color: white;
    font-weight: 700;

}

.team-id {
    padding-left: 5%;
    padding-top: 5%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.team {
    width: 25%;
    padding: 5%;
}

.team img {
    width: 100%;
}

h3 {
    font-size: 25px;
    /* padding-left: 15px;
    padding-right: 5px; */
    text-align: center
}

.services {
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.service-name {
    width: 40%;
    margin: 5%;
    padding: 10px;
    text-align: justify;
    box-shadow: 10px 10px 20px gray;
    border-radius: 10px;
    border-left: 10px solid rgb(211, 128, 216);

}

footer {
    text-align: center;
}